<div class="h-full overflow-auto p-1">
    <p-toolbar>
        <div class="p-toolbar-group-start">
            <p-button icon="pi pi-plus" class="mr-2 bg-blue-600 text-white p-1 rounded-xl" />
            <p-button icon="pi pi-print" class="mr-2" />
            <p-button icon="pi pi-upload" />
        </div>
        <div class="p-toolbar-group-center">
            <!-- <span class="p-input-icon-left">
                    <i class="pi pi-search"></i>
                    <input pInputText placeholder="Search" />
                </span> -->
        </div>
        <div class="p-toolbar-group-end">
            <p-splitButton label="Save" icon="pi pi-check" [model]="items" />
        </div>
    </p-toolbar>

    <!-- Filter for Class & Division  -->
    <div class="card flex justify-content-center mt-5">
        <div class="p-1 flex flex-row justify-between gap-4 xs:w-full">
            <div class="w-auto border border-black rounded-md">
                <p-dropdown [options]="classes" [(ngModel)]="selectedClass" optionLabel="name" class=""
                    placeholder="Select a Class" />
            </div>
            <div class="w-auto border border-black rounded-md">
                <p-dropdown [options]="division" [(ngModel)]="selectedDivision" optionLabel="name" class=""
                    placeholder="Select a Division" />
            </div>
        </div>
    </div>

    <!-- Tables -->
    <div class="mt-8 w-full p-1">   
        <app-saral-tables></app-saral-tables>
    </div>
</div>